@use "reset" as *;
@use "variables" as *;

body {
  margin: 0;
  padding: 0;
  background-color: $color-bg;
  color: $color-text;
  font-family: 'Inter', sans-serif; 
  -webkit-font-smoothing: antialiased;
}

html, body, #__nuxt {
  height: 100%;
  overflow: hidden;
}

.custom-user-marker {
  width: 20px;
  height: 20px;
  background: $color-primary;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 15px $color-primary;
}